In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns

In [16]:
from sklearn.linear_model import LogisticRegression
data = [['Movie-1', 100, 1, 1], ['Movie-2', 200, 0, 0], ['Movie-3', 400, 1, 1]]
df = pd.DataFrame(data, columns = ['Movie', 'OPR', 'genre', 'profitability'])
df

     Movie  OPR  genre  profitability
0  Movie-1  100      1              1
1  Movie-2  200      0              0
2  Movie-3  400      1              1

In [17]:
y = df.iloc[0:3, 3]
x = df.iloc[0:3, 1:3]
clf = LogisticRegression(random_state=0).fit(x, y)
clf.predict(x)

# X, y = load_iris(return_X_y=True)
# >>> clf = LogisticRegression(random_state=0).fit(X, y)
# >>> clf.predict(X[:2, :])

array([1, 1, 1], dtype=int64)

In [18]:
clf.fit(x,y).coef_, clf.fit(x,y).intercept_

(array([[0.00318907, 0.56451971]]), array([-0.37829138]))

In [21]:
-0.37829138 + 0.56451971*1 + 0.00318907*300

1.14294933

In [23]:
p_a = 0.5
p_b = 0.4
p_c = 0.1
p_sat_a = 1250
p_sat_b = 1050
p_sat_c = 800
sd = 200

(50/400)*0.5

0.0625